.services {
	padding-bottom: 140px;
	padding-top: 140px;
}


.box {
	display: flex;
	column-gap: 90px;
	margin-top: 60px;
	&__item {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		flex: 1 1 330px;
		&_pic {
			max-width: 100%;
			height: auto;
		}
		h3 {
			font-weight: 600;
			font-size: 24px;
			line-height: 36px;
			align-items: center;
			color: #333333;
		}
		p {
			font-size: 16px;
			line-height: 26px;
			color: #333333;
			
		}
	}
}